@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

.box {
  width: 38vw;
  height: 94vh;
  background-color: rgba(238, 231, 220);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: 4rem;
}
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 163, 155);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
.upper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.btn {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 96px;
  height: 96px;
  object-fit: contain;
  border-radius: 48px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.name:hover{
  transform: scale(1.1);
  opacity: 0.8;
}
.about-me {
  font-size: 1.4rem;
}

.middle {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
  background: none;
  margin-top: 8rem;
}
.middle img {
  width: 30px;
  height: 30px;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.middle img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.8rem;
  padding-bottom: 6.4rem;
  margin-top: 7rem;
  margin-bottom: 64px;
}

.lower button {
  border: none;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  height: 5rem;
  padding: 1.3rem 2.3rem;
  border-radius: 2.5rem;
  margin-bottom: 4rem;
}

.lower-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.lower-bottom p {
  font-size: 12px;
  font-weight: bo;
}
